In [1]:
#using Pkg; Pkg.add("DataFrames")
using DataFrames

In [2]:
mat = [x*y for x in 1:3, y in 1:4]

3×4 Array{Int64,2}:
 1  2  3   4
 2  4  6   8
 3  6  9  12

In [3]:
df = DataFrame(mat)

3×4 DataFrame
│ Row │ x1    │ x2    │ x3    │ x4    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │ 4     │
│ 2   │ 2     │ 4     │ 6     │ 8     │
│ 3   │ 3     │ 6     │ 9     │ 12    │

In [4]:
df = DataFrame(mat, [:a, :b, :c, :d])

3×4 DataFrame
│ Row │ a     │ b     │ c     │ d     │
│     │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │ 4     │
│ 2   │ 2     │ 4     │ 6     │ 8     │
│ 3   │ 3     │ 6     │ 9     │ 12    │

In [5]:
Matrix(df)

3×4 Array{Int64,2}:
 1  2  3   4
 2  4  6   8
 3  6  9  12

In [6]:
DataFrame(a=[1, 2], b = "s")

2×2 DataFrame
│ Row │ a     │ b      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ s      │
│ 2   │ 2     │ s      │

In [7]:
DataFrame([Int, String], [:a, :b], 2)

2×2 DataFrame
│ Row │ a               │ b      │
│     │ Int64           │ String │
├─────┼─────────────────┼────────┤
│ 1   │ 140676433886320 │ #undef │
│ 2   │ 140676430932784 │ #undef │

In [8]:
DataFrame([[1, 2], ["a", "b"]], [:a, :b])

2×2 DataFrame
│ Row │ a     │ b      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ a      │
│ 2   │ 2     │ b      │

In [9]:
DataFrame([[1, 2], ["a", "b"]])  # 列名省略

2×2 DataFrame
│ Row │ x1    │ x2     │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ a      │
│ 2   │ 2     │ b      │

In [10]:
vals = [1, 2];

In [11]:
df = DataFrame(a=vals, b=["x", "y"])

2×2 DataFrame
│ Row │ a     │ b      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ x      │
│ 2   │ 2     │ y      │

In [12]:
df.a[1] = 8

8

In [13]:
vals

2-element Array{Int64,1}:
 1
 2

In [14]:
df = DataFrame(mat)
eachcol(df)

3×4 DataFrameColumns (with names=false)
│ Row │ x1    │ x2    │ x3    │ x4    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │ 4     │
│ 2   │ 2     │ 4     │ 6     │ 8     │
│ 3   │ 3     │ 6     │ 9     │ 12    │

In [15]:
identity.(eachcol(df))

4-element Array{Array{Int64,1},1}:
 [1, 2, 3]
 [2, 4, 6]
 [3, 6, 9]
 [4, 8, 12]