In [1]:
using DataFrames
grade_levels = ["F"; [x*y for x in 'D':-1:'A' for y in ["-", "", "+"]]]

13-element Array{String,1}:
 "F"
 "D-"
 "D"
 "D+"
 "C-"
 "C"
 "C+"
 "B-"
 "B"
 "B+"
 "A-"
 "A"
 "A+"

In [2]:
using Random
Random.seed!(1);
grades = categorical(rand(grade_levels, 100), ordered=true);
levels!(grades, grade_levels);
df = DataFrame(id=eachindex(grades), grades = grades);

In [3]:
isordered(grades)

true

In [4]:
levels(grades)

13-element Array{String,1}:
 "F"
 "D-"
 "D"
 "D+"
 "C-"
 "C"
 "C+"
 "B-"
 "B"
 "B+"
 "A-"
 "A"
 "A+"

In [5]:
describe(df, :eltype)

2×2 DataFrame
│ Row │ variable │ eltype                    │
│     │ Symbol   │ DataType                  │
├─────┼──────────┼───────────────────────────┤
│ 1   │ id       │ Int64                     │
│ 2   │ grades   │ CategoricalString{UInt32} │

In [6]:
filter(x -> x.grades > "A-", df)

15×2 DataFrame
│ Row │ id    │ grades       │
│     │ Int64 │ Categorical… │
├─────┼───────┼──────────────┤
│ 1   │ 6     │ A            │
│ 2   │ 9     │ A+           │
│ 3   │ 13    │ A+           │
│ 4   │ 15    │ A            │
│ 5   │ 23    │ A+           │
│ 6   │ 26    │ A            │
│ 7   │ 40    │ A            │
│ 8   │ 44    │ A            │
│ 9   │ 47    │ A            │
│ 10  │ 48    │ A            │
│ 11  │ 49    │ A            │
│ 12  │ 63    │ A            │
│ 13  │ 70    │ A            │
│ 14  │ 75    │ A+           │
│ 15  │ 93    │ A            │

In [7]:
grades[1:10] .* " grade"

10-element Array{String,1}:
 "D grade"
 "B- grade"
 "D- grade"
 "C grade"
 "D grade"
 "A grade"
 "D grade"
 "D+ grade"
 "A+ grade"
 "C- grade"

In [8]:
x = repeat(["a"^20, "b"^20], 1000);
y = categorical(x);
Base.summarysize(x)

72040

In [9]:
Base.summarysize(y)

8912