In [1]:
#using Pkg; Pkg.add("MySQL")

  Updating registry at `~/.julia/registries/General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
 Resolving package versions...
 Installed DecFP ─ v0.4.8
 Installed MySQL ─ v0.7.0
  Updating `~/.julia/environments/v1.2/Project.toml`
  [39abe10b] + MySQL v0.7.0
  Updating `~/.julia/environments/v1.2/Manifest.toml`
  [55939f99] + DecFP v0.4.8
  [39abe10b] + MySQL v0.7.0
  Building DecFP → `~/.julia/packages/DecFP/3jJW7/deps/build.log`
  Building MySQL → `~/.julia/packages/MySQL/owtkt/deps/build.log`

In [3]:
using DataFrames
using MySQL

┌ Info: Precompiling MySQL [39abe10b-433b-5dbd-92d4-e302a9df00cd]
└ @ Base loading.jl:1242

In [5]:
conn = MySQL.connect("127.0.0.1", "root", "type_password_here",db="sys")

MySQL Connection
------------
Host: 10.0.21.207
Port: 3306
User: root
DB:   sys

In [6]:
 MySQL.execute!(conn, "CREATE TABLE mytable (col1 INT AUTO_INCREMENT PRIMARY KEY, col2 VARCHAR(50), col3 INT)")

MySQL.MySQLInternalError: (1050): Table 'mytable' already exists

In [7]:
st = MySQL.Stmt(conn, "INSERT INTO mytable(col2, col3) VALUES (?,?)");

In [8]:
MySQL.execute!(st, ["testdata",7]);
MySQL.execute!(st, ["testdata2",8]);

In [9]:
df = MySQL.query(conn, "SELECT * FROM mytable") |> DataFrame

┌ Warning: `MySQL.query(conn, sql)` will return a MySQL.Query in the future; to materialize the result, use `MySQL.query(conn, sql) |> columntable` or `MySQL.query(conn, sql) |> DataFrame` instead
│   caller = ip:0x0
└ @ Core :-1

4×3 DataFrame
│ Row │ col1  │ col2      │ col3   │
│     │ Int32 │ String⍰   │ Int32⍰ │
├─────┼───────┼───────────┼────────┤
│ 1   │ 1     │ testdata  │ 7      │
│ 2   │ 2     │ testdata2 │ 8      │
│ 3   │ 3     │ testdata  │ 7      │
│ 4   │ 4     │ testdata2 │ 8      │

In [10]:
res = MySQL.query(conn, "SELECT * FROM mytable")

┌ Warning: `MySQL.query(conn, sql)` will return a MySQL.Query in the future; to materialize the result, use `MySQL.query(conn, sql) |> columntable` or `MySQL.query(conn, sql) |> DataFrame` instead
│   caller = ip:0x0
└ @ Core :-1

(col1 = Int32[1, 2, 3, 4], col2 = Union{Missing, String}["testdata", "testdata2", "testdata", "testdata2"], col3 = Union{Missing, Int32}[7, 8, 7, 8])

In [11]:
MySQL.disconnect(conn)